.push
%footer#footer
  .container
    .span12
      %p
        © Aleksandar Basara 2012
        %a{:href => "http://www.twitter.com/aleksbasara"}
          aleks basara | follow me on twitter ;) 
         
